:root {
  --color-gra-900: #1a1919;
  --color-gra-800: #060e1e;
  --color-gra-700: #383838;
  --color-white: #fff;
  --color-grey: #d3d8dc;
  --color-grey-100: #bec5cc;
  --color-grey-200: #a1abb5;
  --color-blue: #316fea;
}

html,
body,
#root {
  height: 100%;
}

* {
  font-family: "Basis Grotesque Pro";
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  color: var(--color-gra-900);
}
